* {
  margin: 0;
  padding: 2px;
}

.card {
  width: 25%;
  height: 56vh;
  margin: 0;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  background-image: linear-gradient(#a4ccf4, #85ffe2);
}

form .image {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

form .image .card-title {
  margin: 0 205px 15px 0;
}

label {
  display: block;
  margin-top: 10px;
  font-style: bold;
}

form .fields {
  font-style: italic;
}

form .total {
  font-weight: bold;
  margin-top: 15px;
  font-size: 25px;
}
