* {
  margin: 0;
  padding: 2px;
}

.card {
  width: 25%;
  height: 55vh;
  margin: 0;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  background-image: linear-gradient(#a4ccf4, #85ffe2);
}

form .image {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

form .image .card-title {
  margin: 0 205px 15px 0;
}

label {
  display: block;
  margin-top: 8px;
  font-style: bold;
}

form .fields {
  font-style: italic;
}

form .total p {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: end;
  margin-right: 125px;
}

form .total .btn {
  display: flex;
  margin-top: 15px;
  margin-bottom: -25px;
  background-color: #80b8ef;
  padding: 5px;
  border-radius: 3px;
}

form .total .btn:hover {
  background-color: #80b8ef;
  opacity: 0.7;
  cursor: pointer;
}
